<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <img class="p-2" src="/static-page/img/logo2.png" alt="SGGS College" style="width: 100%;">
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <div class="bg-primary text-white rounded-circle border border-2 border-white p-1 d-flex align-items-center justify-content-center"
                    style="width: 40px; height: 40px;">
                    A
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">
                    Admin
                </h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="/main/admin/dashboard" class="nav-link"><i class="fa-solid fa-home me-2"></i>Dashboard</a>
            </div>

            <div class="nav-item dropdown">
                <a href="/main/admin/notice-board" class="nav-link"><i class="fa-solid fa-calendar-week me-2"></i>Notice Board</a>
            </div>

            <div class="nav-item dropdown">
                <a href="/main/admin/contact-messages" class="nav-link"><i class="fa-solid fa-message me-2"></i>Messages</a>
            </div>

            <div class="nav-item dropdown">
                <a href="/main/admin/gallery" class="nav-link"><i class="fa-solid fa-image me-2"></i>Publish Gallery</a>
            </div>

            <div class="nav-item dropdown">
                <a href="/main/admin/staff" class="nav-link"><i class="fa-solid fa-users me-2"></i>Staff</a>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa-solid fa-file-lines me-2"></i>Admission List</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admissionFormList" class="dropdown-item">Inter Admission List</a>
                    <a href="/ugRegularSem1List" class="dropdown-item">UG Regular Sem 1 List</a>
                    <a href="/ugRegularSem3List" class="dropdown-item">UG Regular Sem 3 List</a>
                    <a href="/ugRegularPart3List" class="dropdown-item">UG Regular Part 3 List</a>
                    <a href="/bca1List" class="dropdown-item">BCA Part 1 List</a>
                    <a href="/bca2List" class="dropdown-item">BCA Part 2 List</a>
                    <a href="/bca3List" class="dropdown-item">BCA Part 3 List</a>
                    <a href="/ugRegularSem4List" class="dropdown-item">UG Regular Sem 4 List</a>
                    
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa-regular fa-rectangle-list me-2"></i>Exam Form List</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/interExamFormList" class="dropdown-item">Inter Exam List (2023-25)</a>
                    
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa-solid fa-certificate me-2"></i>Certificates</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <!-- <a href="/clcList" class="dropdown-item">CLC & Character</a> -->
                    <a href="/clcListAdmin" class="dropdown-item">CLC</a>
                    <a href="/ccList" class="dropdown-item">Character</a>

                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="/notice" class="nav-link"><i class="fa-solid fa-calendar-week me-2"></i>Notice</a>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa-solid fa-lock me-2"></i>Password</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/ugRegSem1Password" class="dropdown-item">UG Reg Sem-1</a>
                    <a href="/ugRegSem4Password" class="dropdown-item">UG Reg Sem-4</a>

                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa-solid fa-key me-2"></i>Portal On / Off</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/ugRegularSem1Potal202428" class="dropdown-item">UG Reg Sem 1 (24-28)</a>
                    <a href="/ugRegularSem3Potal202327" class="dropdown-item">UG Reg Sem 3 (23-27)</a>
                    <a href="/ugRegularPart3Potal202225" class="dropdown-item">UG Reg Part 3 (22-25)</a>
                    <a href="/bca1202427" class="dropdown-item">BCA Part 1 (24-27)</a>
                    <a href="/bca3202225" class="dropdown-item">BCA Part 3 (22-25)</a>
                    <a href="/bca2202326" class="dropdown-item">BCA Part 2 (23-26)</a>
                    <a href="/interExamFormPortal" class="dropdown-item">Inter Exam Form Portal</a>
                    <a href="/ugRegularSem4Potal202327" class="dropdown-item">UG Reg Sem 4 (23-27)</a>

                </div>
            </div>
            <!-- <div class="nav-item dropdown">    
                <a href="#" class="nav-link"><i class="fa-solid fa-key me-2"></i>Password Reset</a>
            </div> -->
        </div>
    </nav>
</div>