<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <!-- <h3 class="text-primary">MD College</h3> -->
        <img class="p-2" src="/images/logomdcollege.png" alt="MD College" style="width: 100%;">
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <!-- <img class="rounded-circle" src="../images/user.jpg" alt="" style="width: 40px; height: 40px;"> -->
                <div
                    class="bg-primary text-white rounded-circle border border-2 border-white p-1 d-flex align-items-center justify-content-center"  style="width: 40px; height: 40px;">
                    <%= locals.user.fullName.slice(0, 1)%>
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0 text-capitalize"><%= locals.user.fullName%></h6>
                <span>User</span>

            </div>
        </div>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="/main/certificate/certificate-dashboard" class="nav-link"><i class="fa-solid fa-home me-2"></i>Dashboard</a>
            </div>
            
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class=" fa-solid fa-certificate me-2"></i>Apply Certificates</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/main/certificate/clc?type=urgent" class="dropdown-item">Urgent CLC</a>
                    <a href="/main/certificate/clc?type=duplicate" class="dropdown-item">Duplicate / Re-issue CLC</a>
                    <a href="/main/certificate/character-certificate" class="dropdown-item">Character Certificate</a>
                    <a href="/main/certificate/marksheet" class="dropdown-item">Marksheet</a>
                    <a href="/main/certificate/tc" class="dropdown-item">T.C</a>
                    <a href="/main/certificate/original-passing-certificate-inter" class="dropdown-item">Original Passing Certificate(Inter)</a>
                    <a href="/main/certificate/bonafied" class="dropdown-item">Bonafide</a>
                    <a href="/main/certificate/forwading-degree-migration" class="dropdown-item">Forwading (Degree/Migration)</a>
                    <a href="/main/certificate/registration-forwading" class="dropdown-item">Registration Forwading</a>
                    <a href="/main/certificate/document-verification-private" class="dropdown-item">Document Verification (Private)</a>
                    <a href="/main/certificate/miscellaneous" class="dropdown-item">Miscellaneous</a>
                </div>
            </div>

        </div>
    </nav>
</div>