<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                © 2025 Copyright:
                <a class="fw-bold" href="/">SGGS College, Patna City</a>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                Distributed By <a class="fw-bold" href="https://techandhub.in" target="_blank">Tech and Hub Technologies</a>
            </div>
        </div>
    </div>
</div>