<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <!-- <h3 class="text-primary">MD College</h3> -->
        <img class="p-2" src="/static-page/img/logocc.png" alt="SGGS College" style="width: 100%;">
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <!-- <img class="rounded-circle" src="../images/user.jpg" alt="" style="width: 40px; height: 40px;"> -->
                <div
                    class="bg-primary text-white rounded-circle border border-2 border-white p-1 d-flex align-items-center justify-content-center"  style="width: 40px; height: 40px;">
                    <%= locals.user.fullName.slice(0, 1)%>
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0 text-capitalize"><%= locals.user.fullName%></h6>
                <% if(locals.user.isAdmin){ %>
                    <span>Admin</span>
                <% } else {%>
                    <span>User</span>
                <% }%>

            </div>
        </div>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="/main/user/dashboard" class="nav-link"><i class="fa-solid fa-home me-2"></i>Dashboard</a>
            </div>
            
            <div class="nav-item dropdown">
                <a href="/main/user/ugRegularSem2AdmissionForm" class="nav-link"><i class="fa-solid fa-file-lines me-2"></i>Admission Form</a>
            </div>
            
            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class=" fa-solid fa-file-lines me-2"></i>Admission Form</a>
                <div class="dropdown-menu bg-transparent border-0">
                    PP Test`
                    <a href="/admissionForm" class="dropdown-item">Intermidiate Admission</a>
                    <a href="/admissionFormPP" class="dropdown-item">Intermidiate Admission</a>
                    ==================================================================
                    <a href="/ugRegularAdmissionForm" class="dropdown-item">UG Regular Admission</a>
                    <a href="/bcaAdmissionForm" class="dropdown-item">BCA Admission</a>
                    <a href="/bbaAdmissionForm" class="dropdown-item">BBA Admission</a>
                </div>
            </div> -->
            
            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class=" fa-solid fa-certificate me-2"></i>Certificates</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/clc" class="dropdown-item">CLC & Character</a>
                    <a href="/clcApply?type=normal" class="dropdown-item">Normal CLC</a>
                    <a href="/clcApply?type=urgent" class="dropdown-item">Urgent CLC</a>
                    <a href="/clcApply?type=duplicate" class="dropdown-item">Duplicate / Re-issue CLC</a>
                    <a href="/cc" class="dropdown-item">Character Certificate</a>
                </div>
            </div> -->

            <!-- <div class="nav-item dropdown">
                <a href="/userNotice" class="nav-link"><i class="fa-solid fa-calendar-week me-2"></i>Notices</a>
            </div> -->

            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class=" fa-solid fa-book me-2"></i>E-Library</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/books" class="dropdown-item">UG B.A (Humanities)</a>
                </div>
            </div> -->

            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class=" fa-solid fa-receipt me-2"></i>Miscellaneous Fee</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/" class="dropdown-item">Urgent CLC</a>
                    <a href="/" class="dropdown-item">Duplicate CLC</a>
                    <a href="/" class="dropdown-item">Re-issue CLC</a>
                    <a href="/" class="dropdown-item">Character Certificate</a>
                    <a href="/miscellaneousFee/marksheet" class="dropdown-item">Marksheet</a>
                    <a href="/tc" class="dropdown-item">T.C</a>
                    <a href="/miscellaneousFee/original-passing-certificate-inter" class="dropdown-item">Original Passing Certificate(Inter)</a>
                    <a href="/bonafied" class="dropdown-item">Bonafide</a>
                    <a href="/miscellaneousFee/forwading-degree-migration" class="dropdown-item">Forwading (Degree/Migration)</a>
                    <a href="/miscellaneousFee/registration-forwading" class="dropdown-item">Registration Forwading</a>
                    <a href="/miscellaneousFee/document-verification-private" class="dropdown-item">Document Verification (Private)</a>
                    <a href="/miscellaneousFee/miscellaneous" class="dropdown-item">Miscellaneous</a>
                </div>
            </div> -->

            <!-- <div class="nav-item dropdown">
                <a href="/miscellaneousFee/document-verification-private" class="nav-link"><i class="fa-solid fa-check me-2"></i>Verification</a>
            </div> -->
        </div>
    </nav>
</div>