<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <img class="p-2" src="/images/sggscollegelogo.png" alt="SGGS College, Patna City" style="width: 100%;">
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <!-- <img class="rounded-circle" src="../images/user.jpg" alt="" style="width: 40px; height: 40px;"> -->
                <div class="bg-primary text-white rounded-circle border border-2 border-white p-1 d-flex align-items-center justify-content-center"
                    style="width: 40px; height: 40px;">
                    <%= locals.existingAdmin.fullName.slice(0, 1)%>
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">
                    <%= locals.existingAdmin.fullName %>
                </h6>
                <span>Admin</span>

            </div>
        </div>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="/admin/dashboard" class="nav-link"><i class="fa-solid fa-home me-2"></i>Dashboard</a>
            </div>
            <div class="nav-item dropdown">
                <a href="/admin/notice" class="nav-link"><i class="fa-solid fa-calendar-week me-2"></i>Notice</a>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa-solid fa-file-lines me-2"></i>Admission List</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/ug-reg-25-29-admission-list" class="dropdown-item">UG Reg (2025-2029) List</a>

                </div>
            </div>

        </div>
    </nav>
</div>