<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sri Guru Gobind Singh College, Patna City</title>
<meta name="description" content="Sri Guru Gobind Singh College, Patna City">
<meta name="keywords" content="Sri Guru Gobind Singh College, Patna City">

<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="/static-page/css/styles-merged.css">
<link rel="stylesheet" href="/static-page/css/style.min.css">
<link rel="stylesheet" href="/static-page/css/custom.css">

<!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->